<div class="ps-block--promotion-header bg--cover"  style="background: url({{path}}img/banner/top/header-promotion.jpg);">
    <div class="container">
        <div class="ps-block__left">
            <h3>{{valor['H3 tag']}}</h3>
            <figure>
                <p>{{valor['P1 tag']}}</p>
                <h4>{{valor['H4 tag']}} </h4>
              
           
            </figure>
          
        </div>
        <div class="ps-block__center">
            <p>{{valor['P2 tag']}}<span>{{valor['Span tag']}}</span></p>
        </div><a class="ps-btn ps-btn--sm" href="#">{{valor['Button tag']}}</a>
       
    </div>
   
</div>

